# C, C++, D
# ------------------------------------------------------------------------------
# Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lai
*.lib
*.a
*.la
*.lo
# Shared objects
*.so
*.so.*
*.dylib
*.dll
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Files and folders
# ------------------------------------------------------------------------------
todo
typegen
*_t
*_t.c
example/src/process_a
example/src/process_b
